<mat-card class="user-deatail-header">
    <mat-icon class="back-icon" routerLink="/journal" routerLinkActive="router-link-active">arrow_back</mat-icon>
    <button mat-icon-button [matMenuTriggerFor]="menu1" class="pin-right-upper-corner">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu1="matMenu">
        <button (click)="editEntry()" mat-menu-item>Edit</button>
        <button (click)="deleteEntry()" mat-menu-item>Delete</button>
    </mat-menu>
    <img (click)="bigPicture()" src="{{ imagePath }}">
    <div class="user-details">
        <h2> {{fish.fish | titlecase}}</h2>
        {{fish.length}} cm
    </div>
</mat-card>

<mat-card class="mt-32">
    <mat-card-title>
        Details:
    </mat-card-title><br>
    <mat-card-content>
        <span>Weight: {{ fish.weight }} grams</span><br><br>
        <span>Caught near: {{ fish.place | titlecase }}</span><br><br>
        <span> With this method: {{ fish.method }}</span><br><br>
        <span>The weather was {{ fish.weather }} with a temperature of {{ fish.temperature }}°C</span><br><br>
        <span>Caught on {{ fish.date | date  : 'dd.MM.yyyy' }} {{ fish.time }}</span><br><br>
        <span>Comment: {{ fish.comment }}</span>
    </mat-card-content>

</mat-card>