<mat-card class="user-deatail-header">
    <button mat-icon-button [matMenuTriggerFor]="menu1" class="pin-right-upper-corner">
        <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu1="matMenu">
        <button (click)="editEntry()" mat-menu-item>Edit</button>
        <button (click)="deleteEntry()" mat-menu-item>Delete</button>
    </mat-menu>
    <img src="assets/img/logo.png">
    <div class="user-details">
        <h2> {{fish.fish}}</h2>
        {{fish.length}}
    </div>
</mat-card>

<mat-card class="mt-32">
    <mat-card-title>
        Details:
    </mat-card-title>
    <mat-card-content>
        <span>Weight: {{ fish.weight }}</span><br>
        <span>Caught near: {{ fish.place }}</span><br>
        <span> With this method: {{fish.method}}</span><br>
        <span>The Weather was: {{ fish.weather }}</span><br>
        <span>With a temperature of {{ fish.temperature }}°C</span><br>
        <span>Caught at {{ fish.time }} on {{ fish.date | date}}</span><br>
        <span> Comment: {{ fish.comment }}</span>
    </mat-card-content>

</mat-card>