.user-deatail-header {
    min-height: 250px;
    background-color: #69F0AE;
    display: flex;
    align-items: flex-end;
    color: black;

    img {
        width: 300px;
        max-width: 100%;
        height: auto;
        margin: 16px 0px 16px 16px;
        border-radius: 10px;
        object-fit: cover;
        cursor: pointer;
    }
}

mat-icon {
height:100%;
    width: 54px;
    min-width: 54px;
}

.maps {
    height:384px;
    width: 50%;
    padding-right: 16px;
}

.mapdiv {
    height: 82%;
    width: 100%;
}

.user-details {
    margin-left: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100px;

    h2 {
        margin-bottom: 0;
    }
}

.pin-right-upper-corner {
    position: absolute;
    right: 0;
    top: 8px;
}

.back-icon {
    position: absolute;
    left: 8px;
    top: 8px;
    cursor: pointer;
}

.content-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.table-wrap {
    height:384px;
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-right: 16px;
}

.outer-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.inner-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 16px;
}

.fixed-width {
    min-width: 200px;
}

@media only screen and (max-width: 1000px) {

    .fixed-width {
        min-width: 150px;
    }
    .maps {
        width: 100%;
    }
    .table-wrap {
        width: 100%;
    }
}


@media only screen and (max-width: 750px) {


    .content-wrapper {
        flex-direction: column;

    }

}

@media only screen and (max-width: 580px) {


    .user-deatail-header {
        flex-direction: column;
        align-items: flex-start;

        img {
            margin-top: 32px;
            width: 280px;
        }
    }

    .user-details {
        margin-left: 0px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        height: 100px;

        h2 {
            margin-bottom: 0;
        }
    }

}

@media only screen and (max-width: 349px) {


    mat-icon {
        display: none;
    }

    .user-deatail-header {

        img {
            margin-left: 0px;
            width: 250px;
        }
    }
}