<mat-card>
    <table class="table">
        <tr>
            <th>
                <div class="sorting-wrap">
                    <span (click)="sortBy('fish')">Fish</span>
                    <div class="icon-wrap">
                        <mat-icon (click)="sortBy('fish')" class="sort-arrow"
                            [class.d-none]="(sortingBy[0]['sortedUp'] == '0')">south
                        </mat-icon>
                        <mat-icon (click)="sortBy('fish')" class="sort-arrow"
                            [class.d-none]="(sortingBy[0]['sortedDown'] == '0')">north
                        </mat-icon>
                        <mat-icon (click)="sortBy('fish')" class="sort-arrow"
                        [class.d-none]="(sortingBy[0]['sortedDown'] == '1' || sortingBy[0]['sortedUp'] =='1' )">unfold_more
                    </mat-icon>
                    </div>
                </div>
            </th>
            <th>
                <div class="sorting-wrap">
                    <span (click)="sortBy('length')">Length</span>
                    <div class="icon-wrap">
                        <mat-icon (click)="sortBy('length')" class="sort-arrow"
                            [class.d-none]="(sortingBy[1]['sortedUp'] == '0')">south
                        </mat-icon>
                        <mat-icon (click)="sortBy('length')" class="sort-arrow"
                            [class.d-none]="(sortingBy[1]['sortedDown'] == '0')">north
                        </mat-icon>
                        <mat-icon (click)="sortBy('length')" class="sort-arrow"
                            [class.d-none]="(sortingBy[1]['sortedDown'] == '1' || sortingBy[1]['sortedUp'] =='1' )">
                            unfold_more
                        </mat-icon>
                    </div>
                </div>
            </th>
            <th>
                <div class="sorting-wrap">
                    <span (click)="sortBy('place')">Place</span>
                    <div class="icon-wrap">
                        <mat-icon (click)="sortBy('place')" class="sort-arrow"
                            [class.d-none]="(sortingBy[2]['sortedUp'] == '0')">south
                        </mat-icon>
                        <mat-icon (click)="sortBy('place')" class="sort-arrow"
                            [class.d-none]="(sortingBy[2]['sortedDown'] == '0')">north
                        </mat-icon>
                        <mat-icon (click)="sortBy('place')" class="sort-arrow"
                            [class.d-none]="(sortingBy[2]['sortedDown'] == '1' || sortingBy[2]['sortedUp'] =='1' )">
                            unfold_more
                        </mat-icon>
                    </div>
                </div>
            </th>
            <th>
                <div class="sorting-wrap">
                    <span (click)="sortBy('date')">Date</span>
                    <div class="icon-wrap">
                        <mat-icon (click)="sortBy('date')" class="sort-arrow"
                            [class.d-none]="(sortingBy[3]['sortedUp'] =='0' )">south
                        </mat-icon>
                        <mat-icon (click)="sortBy('date')" class="sort-arrow"
                            [class.d-none]="(sortingBy[3]['sortedDown'] == '0' )">north
                        </mat-icon>
                        <mat-icon (click)="sortBy('date')" class="sort-arrow"
                            [class.d-none]="(sortingBy[3]['sortedDown'] == '1' || sortingBy[3]['sortedUp'] =='1' )">
                            unfold_more
                        </mat-icon>
                    </div>
                </div>
            </th>
        </tr>
        <tr *ngFor="let fish of slicedArray" [routerLink]="['/details/' + fish.customId]">
            <td>{{fish.fish | titlecase}}</td>
            <td>{{fish.length}} cm</td>
            <td>{{fish.place | titlecase}}</td>
            <td>{{fish.date | date}}</td>
        </tr>
    </table>

    <mat-paginator class="paginator" [length]="renderArray.length" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 50]"
        (page)="OnPageChange($event)">
    </mat-paginator>
</mat-card>

<div class="form-wrap" [ngStyle]="{'display': showSearch ? 'flex' : 'none'}">
    <mat-form-field color="accent" appearance="standard">
        <mat-label>Fish or Place?</mat-label>
        <input matInput [(ngModel)]="searchValue" (ngModelChange)="ngOnInit()">
    </mat-form-field>
</div>
<mat-icon class="search-icon" routerLink="/journal" routerLinkActive="router-link-active"
    (click)="showSearch = !showSearch; clearSearch()">search</mat-icon>