
.add-wrap {
    display: flex;
    width: 600px;
    justify-content: space-between;
}

.full-width {
    width: 280px;
}

.position-content {
    display: flex;
    justify-content: flex-start;
}

.right-content {
    padding-left: 16px;
}

.button-wrap {
    width: 600px;
    display: flex;
    justify-content: flex-end;

    button {
        font-size: 18px;
    }
}