<div class="dialog-container">
    <div mat-dialog-content>
        <div> <span>What kind of Fish have you caught?</span><br>
            <mat-form-field appearance="standard" color="accent" class="mr-16">
                <input [disabled]="loading" [(ngModel)]="fish.fish" matInput placeholder="fish">
            </mat-form-field>
        </div>
        <div>
            <span>What is the lenght of the fish?</span><br>
            <mat-form-field appearance="standard" color="accent" class="full-width">
                <input [disabled]="loading" [(ngModel)]="fish.length" matInput placeholder="Length">
            </mat-form-field>
        </div>
        <div>
            <span>When have you caught this fish?</span><br>
            <mat-form-field appearance="standard" color="accent" class="full-width">
                <input [disabled]="loading" [(ngModel)]="date" matInput class ="date" type="datetime-local">
            </mat-form-field>
        </div>

        <div>
            <span>Where have you caught the fish?</span><br>
            <mat-form-field appearance="standard" color="accent" class="full-width">
                <input [disabled]="loading" [(ngModel)]="fish.place" matInput placeholder="Place">
            </mat-form-field>
        </div>

    </div>
    <div mat-dialog-actions>
        <button [disabled]="loading" mat-button (click)="cancelAdd()">Cancel </button>
        <button [disabled]="loading" mat-button (click)="saveUser()" cdkFocusInitial>Save</button>
    </div>
</div>