.add-wrap {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 32px;
}

.full-width {
    width: 100%;
}

.position-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}



.button-wrap {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    button {
        font-size: 18px;
    }
}

.inner-wrap {

    width: 50%;

    textarea {
        resize: none;
    }
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 8px;
    cursor: pointer;
    margin-top:0px;
    &:hover{
        color: #69F0AE;
    }
}