.add-wrap {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 32px;
}

.full-width {
    width: 100%;
}

.position-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.button-wrap {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    button {
        font-size: 18px;
    }
}

.inner-wrap {
    width: 50%;

    textarea {
        resize: none;
    }
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 8px;
    color: #C7C7C7;
    cursor: pointer;
    margin-top: 0px;
    border-bottom: 1px solid #C7C7C7;
    padding-bottom: 16px;
    width: calc(50% - 16px);

    &:hover {
        color: white;
        border-bottom: 1px solid white;
    }
}

.preview {
    width: 280px;
    height: auto;
}

.picture-wrap {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.mapdiv{
    height:200px;
    width:100%;
}

@media only screen and (max-width:550px){

    .add-wrap{
        flex-direction: column;
        width: 100%;
    }

    .inner-wrap {
        width: 100%;
    }

    .custom-file-upload {
        width:100%;
        margin-bottom:16px;
    }
}