<mat-drawer-container class="mat-drawer-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side" [opened]="true">
    <div class="logo-container"><img src="assets/img/logo_big.png" routerLink="/journal"
        routerLinkActive="router-link-active">
    </div>
    <ul>
      <li class="no-cursor"></li>
      <li routerLink="/journal" routerLinkActive="router-link-active">
        <mat-icon>set_meal</mat-icon>Journal
      </li>
      <li routerLink="/addcatch" routerLinkActive="router-link-active">
        <mat-icon>phishing</mat-icon>Add Catch
      </li><!--
      <li routerLink="/analysis" routerLinkActive="router-link-active">
        <mat-icon>bar_chart</mat-icon>Analysis
      </li>
      <li routerLink="/notes" routerLinkActive="router-link-active">
        <mat-icon>description</mat-icon>Notes
      </li>
      <li class="no-cursor"></li>
      <li class="no-cursor"></li>
      <li routerLink="/settings" routerLinkActive="router-link-active">
        <mat-icon>settings</mat-icon>Settings
      </li>-->
      <li class="no-cursor"></li>
      <li routerLink="/legal" routerLinkActive="router-link-active">
        <mat-icon>policy</mat-icon>Legal notice
      </li>
      <li routerLink="/dataprotection" routerLinkActive="router-link-active">
        <mat-icon>https</mat-icon>Data protection
      </li>
    </ul>
  </mat-drawer>
  <div class="example-sidenav-content">
    <mat-toolbar color="primary">
      <mat-toolbar-row class="header">
        <div class="header-left">
          <mat-icon class="menu-bar" (click)="drawer.toggle()">menu</mat-icon>
          <span class="headline">{{ title }}</span>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="router-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-drawer-container>
