.image-wrap {
    max-height: 280px;
    max-width: 520px;
    height: 280px;
    width: 520px;
    overflow: hidden;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;

}

.fish-image {
    height: 280px;
    width: 520px;
    object-fit: cover;
    cursor: pointer;
}

.animate {
    animation: blur 8s ease;
}

.mapdiv {
    height: 280px;
    width: 1076px;
    max-width: 100%;
}


@keyframes blur {
    0% {
        -webkit-filter: blur(10px);
    }

    10% {
        -webkit-filter: blur(5px);
    }

    20% {
        -webkit-filter: blur(0px);
    }

    80% {
        -webkit-filter: blur(0px);
    }

    90% {
        -webkit-filter: blur(5px);
    }

    100% {
        -webkit-filter: blur(10px);
    }
}

@media only screen and (max-width:1234px) {
    .mapdiv {
        width: 520px;
    }



}

@media only screen and (max-width:610px) {
    .mapdiv {
        width: calc(100vw - 32px);
    }

    .image-wrap {
        max-width: 100%;
        width: calc(100vw - 32px);
        min-width: 100%;
    }

    .wrapper {
        width: calc(100vw - 32px);

        h2 {
            width: calc(100vw - 32px);
        }
    }

    .fish-image {
        width: calc(100vw - 32px);

        object-fit: cover !important;
    }

}